.cover {
  width:98%;
  height:90%;
  position:fixed;
}

.parallax {
    /* The image used */
    background-image: url(boat2.jpg);

    /* Full height */
    height: 89%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.9;
  
}

.item {
  position: relative;
  border: 1px solid #333;
  margin:0;
  padding:0;
  overflow:hidden;
  width: 33%;
  height:93%;
  display:inline-block;
  text-align:center;
}

.item img {
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
    
     -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  
 
    
}

.item img:hover {
    transform: scale(1.1);
    opacity:0.3;
      
    
}

img {
  position:relative;
  opacity:1;
  
}

 .item .text {
            /* Placing text behind images */
            z-index: -10;     
        
            /* Positioning text top-left conrner in the middle of elements */
            position: absolute;
            top:      38%;
            left:     15%; 
           text-align: center;
 }
            
        
        .item .text .h1 {
          text-align:center;
          font-weight:bold;
        }
        
        
        
        
        ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    display:inline-block;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 99px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
        
        
          